.modalButton {
    width: 50px;
}

.modalPosition {
    margin-top: 10%;
}

.mainModalTheme {
    color: white;
    background-color: #222d33;
}

.categoryName {
    margin-left: 20px;
    word-wrap: break-word;
}